In [8]:
import pandas as pd

In [9]:
df = pd.read_csv("RadNet_Laboratory_Analysis.csv")
df.head()

,State,Location,Date Posted,Date Collected,Sample Type,Unit,Ba-140,Co-60,Cs-134,Cs-136,Cs-137,I-131,I-132,I-133,Te-129,Te-129m,Te-132
0,ID,Boise,03/30/2011,03/23/2011,Air Filter,pCi/m3,Non-detect,Non-detect,Non-detect,NaN,Non-detect,0.088,Non-detect,Non-detect,NaN,NaN,Non-detect
1,ID,Boise,03/30/2011,03/23/2011,Air Filter,pCi/m3,Non-detect,Non-detect,Non-detect,NaN,Non-detect,0.055,Non-detect,Non-detect,NaN,NaN,Non-detect
2,AK,Juneau,03/30/2011,03/23/2011,Air Filter,pCi/m3,Non-detect,Non-detect,0.0057,NaN,0.0074,0.067,Non-detect,Non-detect,NaN,NaN,0.0043
3,AK,Nome,03/30/2011,03/22/2011,Air Filter,pCi/m3,Non-detect,Non-detect,Non-detect,NaN,Non-detect,0.096,Non-detect,Non-detect,NaN,NaN,Non-detect
4,AK,Nome,03/30/2011,03/23/2011,Air Filter,pCi/m3,Non-detect,Non-detect,Non-detect,NaN,Non-detect,0.22,Non-detect,Non-detect,NaN,NaN,Non-detect

In [10]:
df[(df.State == 'CA') & (df['Sample Type'] == 'Drinking Water')]

,State,Location,Date Posted,Date Collected,Sample Type,Unit,Ba-140,Co-60,Cs-134,Cs-136,Cs-137,I-131,I-132,I-133,Te-129,Te-129m,Te-132
305,CA,Los Angeles,04/10/2011,04/04/2011,Drinking Water,pCi/l,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,0.39,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect
306,CA,Los Angeles,06/01/2011,04/12/2011,Drinking Water,pCi/l,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,0.18,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect
356,CA,Richmond,04/09/2011,03/29/2011,Drinking Water,pCi/l,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect
357,CA,Richmond,06/01/2011,04/13/2011,Drinking Water,pCi/l,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect

In [12]:
df.loc[1:3,['State']]

  State
1    ID
2    AK
3    AK

df['column_name'].apply(<lambda function>)
    
 df.loc[:, <[list_of_column_names]>]=df.loc[:,
[<list_of_column_names>]].applymap(<lambda function>)